{
  "package.json": [
    "prettier-package-json --write",
    "prettier --write",
    "git add"
  ],
  "*[!package].json": ["prettier --write", "git add"],
  "*.js": ["prettier --write", "eslint --fix", "git add"],
  "*.md": ["prettier --write", "git add"],
  "*.yml": ["prettier --write", "git add"]
}
